* {
    padding: 0;
    margin: 0;
}

.powerheadThre {
    display: flex;
    font-size: 14px;
    color: #cccccc;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.powerheadThre>.el-button+.el-button {
    margin: 0;
}

.powerStaff {
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 92px;
    height: 40px;
}

.powerStaff:hover {
    background-color: #666ee8;
}

.powerDepart {
    border: 2px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 92px;
    height: 40px;
}

.powerDepart:hover {
    background-color: #666ee8;
}

.powerRole {
    border: 2px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 92px;
    height: 40px;
}

.powerRole:hover {
    background-color: #666ee8;
}

.powerAdd {
    color: #fff;
    background: #666ee8;
    border-radius: 5px;
    position: relative;
    left: 65%;
    width: 92px;
    height: 40px;
}


/* .powerAdd :hover {
    color: none;
} */

.powerWidhr {
    margin: 0 auto;
    width: 96%;
    height: 2px;
    background-color: #ebe9e9;
    border: none;
    margin-bottom: 20px;
}