.all {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(184, 183, 183);
    padding-bottom: 50px;
    color: #606266;
}

/* 头部样式 */
.top {
    padding: 20px 15px;
    overflow: hidden;
}

.top_left {
    float: left;
}

.top_right {
    float: right;
}

.top_right>.el-select {
    margin-right: 5px;
}

hr {
    margin: 0 15px 20px;
    font-weight: 400;
    background-color: #e6e0e0;
    border: none;
    height: 2px;

}

/* 选择筛选部分样式 */
.screen {
    /* display: flex;
    justify-content: space-around; */
    overflow: hidden;
    margin:  0 15px;
    display: flex;
    justify-content: space-around;
}
.screen p{
    float: left;
    font-size: 12px;
    line-height: 32px;
}
/* 筛选投诉类别样式 */
.screen .el-input{
    margin-left: 4px;
    height:32px;
  }
 .screen .el-input__inner{
    margin-left: 4px;
    height:32px;
  }
.screen  .el-input--suffix .el-input__inner{
    width:120px!important;
    margin-left: 4px;
    height:32px;
  }
 .screen .el-input__icon{
    height:116%;
  }
/* one */
.screen_one{
    float: left;
    
    
}
/* two */
.screen_two{
    float: left;
}
/* three */
.screen_three{
float: left;
}
/* four */
.screen_four{
    float: left;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 240px;
}
.screen>.el-button{
    float: left;
    height: 32px;
}