.category_all {
    width: 95%;
    margin: 0 auto;
    min-height:805px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    padding-bottom: 50px;
    color: #606266;
}

/* 头部样式 */
.category_top {
    /* padding: 20px 15px; */
    /* overflow: hidden; */
    height: 91px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 2px solid #f2f2f2;
    align-items: center;
}

.category_top_left {
    padding-left: 5px;
    border-left: 5px solid #666ee8;
    font-size: 24px;
}

.category_top_right >.el-button{
    /* border: 3px solid #666ee8; */
    background: #666ee8;
    border-color:#666ee8 ;
}
.category_top_right>.el-select {
    margin-right: 5px;
}

/* 选择筛选部分样式 */
.category_screen {
    /* display: flex;
    justify-content: space-around; */
    overflow: hidden;
    margin: 20px 30px;
    display: flex;
    justify-content: space-around;
}

.category_screen p {
    float: left;
    font-size: 12px;
    line-height: 32px;
}

/* 筛选投诉类别样式 */
.category_screen .el-input {
    margin-left: 4px;
}

.category_screen .el-input__inner {
    margin-left: 4px;
}

.category_screen .el-input--suffix .el-input__inner {
    /* width: 120px !important; */
    margin-left: 4px;
}


.category_screen_four .el-date-editor .el-input,
.el-date-editor.el-input__inner {
    width: 240px;
}

.category_screen>.el-button {
    /* border: 1px solid #666ee8; */
    background: #666ee8;
    border-color: #666ee8;
}

/* 图部分 */
.category_chart {
    margin-bottom: 20px;
    margin: 0 30px;
    margin-bottom: 20px;
    /* background: #f00; */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.main1{
    width: 55%;
    height: 450px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);;
    border-radius: 5px;
    float: left;
    margin: 10px;
}
.main2{
    width: 40%;
    /* height: 450px; */
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);;
    border-radius: 5px;
    float: right;
    margin: 10px;
}
/* 统计表格部分 */
.category_statistics {
    width: 93%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
}

.category_statistics_top {

    float: left;
    padding: 20px;
}

.category_statistics_top>h6 {
    font-weight: 600;
}
.category_statistics_table{
    width: 94%;
    margin: 0 auto;
    /* margin-bottom: 35px; */
}
.category_statistics_table .el-table th{
    background-color: #c2c5f6;
    color: #000;
}
.category_statistics_table .el-table td,
.el-table th {
    text-align: center;

}
.category_statistics_paging{
    /* float: right; */
    text-align: right;
    padding: 25px 30px;
}