* {
    margin: 0;
    padding: 0;
}

.H-editAll {
    width: 95%;
    margin: 0 auto;
    min-height: 805px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
<<<<<<< HEAD

.H-editAll .jurisdiction {
    width: 92%;
    min-height: 811px;
    margin: 20px auto 0;
=======
.H-editAll .jurisdiction{
    width: 92%;
    margin: 0 auto;
    margin-top: 20px;
>>>>>>> 64be6c10d3f3464666f289499703e545c0347e77
}

.H-editAll .content {
    border: 1px solid #e0e0e0;
    width: 95%;
    margin: 0 auto;
}

.H-editAll .content .title {
    border-bottom: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    padding-left: 10px;
}

.H-editAll .content .power {
    padding-left: 10px;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    min-height: 40px;
    line-height: 40px;
}

.H-editAll .content .power:last-child {
    border-bottom: none;
}

.H-editAll .content .power .tit {
    padding-right: 10px;
    text-align: right;
    border-right: 1px solid #e0e0e0;
    width: 200px;
}

.H-editAll .content .power .el-checkbox-group {
    padding-left: 20px;
}

.roleEdit {
    color: #666ee8;
}

.roleEdit span {
    margin-left: -30%;
}

.roleDel span {
    margin-left: -30%;
}

.roleDel {
    color: #ff0000;
}