* {
    margin: 0;
    padding: 0;
}

 .H-Department .departalBg {
    width: 95%;
    margin: 0 auto;
    min-height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    min-height: 805px;
}

.H-Department .departheadThre {
    display: flex;
    font-size: 14px;
    color: #cccccc;
    /* padding-top: 30px;
    padding-left: 60px; */
}


.H-Department .departStaf {
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}


.H-Department .departList {
    border: 2px solid #ccc;
    border-radius: 5px;
}


.H-Department .departRole {
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.H-Department .departAdd {
    color: #fff;
    background: #666ee8;
    border-radius: 5px;
    position: absolute;
    left: 85%;
}



.H-Department .departIptsech {
    /* float: left; */
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 16px;
    margin-bottom: 20px;
}

.H-Department .departIptsech_div {
    width: 50%;
    text-align: left;
}

.H-Department .departIptsech_div>.el-input {
    margin-right: 10px;
}

.H-Department > .departalBg > .departTable >.el-table tr,
.el-table th,
.el-table td {
    text-align: center !important;
}

.H-Department .departtable {
    table-layout: fixed;
    /* margin: auto; */
    margin: 0 auto;
    text-align: center;
    /* margin-left: -1px; */
    width: 94%;
}

.H-Department .departNameipt {
    width: 18vw;
    border-radius: 5px;
    margin-left: 4%;
}

.H-Department .departNamesch {
    font-size: 14px;
    color: #fff;
    background-color: #666ee8;
    border-radius: 5px;
    border-color: #666ee8;
    margin-top: 20px;
}

.H-Department .departEdit {
    color: #666ee8;
}

.H-Department .departEdit span {
    margin-left: -30%;
}

.H-Department .departDel span {
    margin-left: -30%;
}

.H-Department .departDel {
    color: #ff0000;
}

.H-Department .el-table::before {
    height: 0px;
}

.H-Department .departaddalBg {
    background-color: #fff;
    height: 65%;
    margin-left: -20px;
    width: 81%;
}

.H-Department .departaddThre {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #cccccc;
   
}

.H-Department .departaddSpan {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}


.H-Department .departaddalBg>.departaddgr {
    border-radius: 5px;
    width: 92px;
    height: 40px;
}


.H-Department .departaddb {
    border-color: #666ee8;
    border-radius: 5px;
}

.H-Department .departaddWidhr {
    margin-top: 15px;
    margin-bottom: 12px;
    background-color: #ccc;
    height: 1px;
    border: none;
}

.H-Department .departaddF {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.H-Department .departaddFlex {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 100px
}

.H-Department .departaddP {
    font-size: 16px;
}

.H-Department .departadda {
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 40px;
}

.H-Department .departaddFlex2 {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    margin-top: 50px;
}


/* 分页 */

.H-Department .departpag {
    padding: 25px 25px;
    overflow: hidden;
}

.H-Department .departpag>.block {
    text-align: right;
}

/* .el-input__inner {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 2px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
} */