.connent_all {
    width: 95%;
    /* min-height: 750px; */
    min-height:805px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    margin: 0 auto;
}


/* 头部样式 */

.connent_top {
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
    padding: 0 30px;
    
    /* text-decoration:underline  */
}

/* .connent_top_left {
    float: left;
} */

.connent_top_left>h6 {
    font-size: 24px;
    padding-left: 5px;
    border-left: 5px solid #666EE8;
    font-weight: normal;
}

/* .connent_top_right {
    float: right;
} */

.connent_top_right>.el-button:first-child {
     background: #666ee8;
     border: 3px solid #666EE8;
     text-align: center;
}
.connent_top_right>.el-button:last-child{
     color: #666ee8;
     background:none;
    border:1px solid #666EE8;
    margin-left: 30px;

} 
.connent_Tableall>.seach>.block>.el-button {
    background: #666ee8;
    border-color: #666EE8;
}

.connent_hr {
    width: 100%;
    height: 2px;
    background-color: #ebe9e9;
    border: none;
    margin-bottom: 20px;
}


/* 表单样式 */

.connent_Tableall {
    /* margin: 0 15px; */
    overflow: hidden;
}


/* 表单搜索样式 */

.connent_Tableall .seach {
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;
}

.connent_Tableall .block>.el-input {
    margin-right: 15px;
    margin-left: 15px;
}

.connent_Tableall .block {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.connent_Tableall .seach>p {
    float: left;
    font-size: 14px;
    color: #606266;
    margin-right: 10px;
    line-height: 40px;
}

.connent_Tableall .seach>.block> .el-input {
    /* width: 160px; */
    margin-left: 10px;
    margin-right: 10px;
}


/* 表单表格样式 */

.connent_myTable {
    /* padding-bottom: 50px; */
    margin-bottom: 30px;
    width: 94%;
    margin: 0 auto;
    font-size: 12px;
    min-height: 609px;    
}


.connent_myTable .el-table td,
.el-table th {
    text-align: center !important;
}

.connent_myTable .el-table .el-link {
    font-size: 10px;
    padding-left: 8px;
    padding-right: 10px;
}


/* 分页 */

.connent_paging {
    overflow: hidden;
    margin: 25px 30px;
}

.connent_paging>.block {
    float: right;
}

.connent_paging .el-input {
    display: inline-block;
}