* {
    margin: 0;
    padding: 0;
}

.rolealBg {
    width: 95%;
    margin: 0 auto;
    min-height: 805px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.roleheadThre {
    display: flex;
    font-size: 14px;
    color: #cccccc;
    padding-top: 30px;
    padding-left: 60px;
}


.roleStaff {
    border-radius: 5px;
}

.rolerole {
    border: 2px solid #ccc;
    border-radius: 5px;
}


.role {
    border-radius: 5px;
}

.roleAdd {
    color: #fff;
    background: #666ee8;
    border-radius: 5px;
    position: absolute;
    left: 85%;
}



/* .roleWidhr {
    width: 92%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 12px;
} */

.roleIptsech {
    width: 76%;
    display: flex;
    /* justify-content: center; */
    /* margin-left: 45px; */
    margin-bottom: 20px;
    margin-top: 20px;
}

.roleNameIpt {
    width: 18vw;
    /* border: 2px solid #ccc; */
    border-radius: 5px;
    margin-left: 4%;
}

.roleNamesch {
    font-size: 14px;
    color: #fff;
    background-color: #666ee8;
    border-radius: 5px;
    border-color: #666ee8;
    margin-left: 20px;
}

.roleTable {
    width: 94%;
    margin: 0 auto;
    min-height: 550px;
}

.roleTable .el-table td,
.el-table th {
    text-align: center !important;
}

.roleEdit {
    color: #666ee8;
}

.roleEdit span {
    margin-left: -30%;
}

.roleDel span {
    margin-left: -30%;
}

.roleDel {
    color: #ff0000;
}

.rolePag {
    margin-left: 60%;
    margin-top: 1%;
}

.el-table::before {
    height: 0px;
}

/*  */

.roleF {
    /* display: flex; */
    margin-left: 9%;
    /* height: 80%; */
    margin-top: 2%;
    width: 75%;
}

.roleTab {
    width: 75%;
    height: 60%;
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
}

.roleTd {
    border-bottom: #ccc 2px solid;
}

.roleTddiv {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    margin-left: 10px;
}

.roleHead {
    color: #ccc;
    font-size: 14px;
    height: 30px;
}

.roleMain {
    margin-left: 10px;
    color: #000;
    font-size: 12px;
}

.roleClick {
    color: #409eff;
    font-size: 14px;
    margin-right: 12px;
    text-decoration: none;
    cursor: pointer;
}


/* 分页 */

.rolepag {
    overflow: hidden;
    padding: 25px 25px;
}

.rolepag>.block {
    float: right;
}

/* .el-input__inner {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 2px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
} */