.addstaffall {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    min-height: 805px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    /* padding-bottom: 118px; */
}


/* top */
.addstaffall .staffThre{
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
    padding: 0 30px;
    border-bottom: 2px solid #f2f2f2; 
    font-size: 14px;
}
.addstaffall .staffThre .staffSpan{
    padding-left: 5px;
    border-left: 5px solid #666ee8;
    font-size: 24px;
    font-weight: normal;
}
.addstaffall .staffThre .staffgr{
    background: #666ee8;
    border-color: #666ee8;
}
.addstaffall .staffThre .staffback{
    background: none;
    border-color: #666ee8;
    color: #666ee8;
    margin-left: 30px;
}

/* add */

.addmain {
    margin: 20px 70px;
}

.addmain .el-from .el-input {
    margin: 0;
    display: block !important;
    width: 218px;
}

.addmain .el-form .el-row {
    display: flex;
    justify-content: space-around;
}

.addmain .el-date-editor {
    display: block;
    width: auto;
}

.addmain .el-select {
    display: block;
}

.el-select__tags {
    top: 67%
}


/* 边框 */

/* .dialog-input-text .el-input__inner {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 2px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
} */