.details_all {
    width: 100%;
    min-height:805px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(184, 183, 183);
    /* padding-bottom: 50px; */
}

/* top */
.details_top {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;
    border-bottom: 3px solid #f2f2f2;
    padding: 0 30px;
}

.details_top_left h5{
    font-size: 24px;
    font-weight: normal;
    padding-left: 5px;
    border-left: 5px solid #666ee8;
}

/* content */
.details_content{
    margin: 0 70px;
}
.details_content>p{
    text-align: left;
    margin-bottom: 10px;
}
.details_content>p:first-child{

    margin-bottom: 20px;
}
.details_content>p:nth-child(2){
    font-size: 14px;
    margin-bottom: 20px;
    color: #636161;
}
.details_content>p:last-child{
    font-size: 16px;
}