.lookForm_all{
    background: none;
}
.lookForm_all_in{
    width: 95%;
    min-height:805px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding-bottom: 121px;
}
/* top */

.lookForm_top_button {
    overflow: hidden;
    height: 91px;
    border-bottom: 2px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.lookForm_top_button .lookForm_top_button_left span{
    border: 1px solid #666EE8;
    border-radius: 5px;
    padding: 11px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #666EE8;
}
.lookForm_top_button .lookForm_top_button_right .el-button{
    border-color: #666ee8;
    line-height: 8px;
}
.lookForm_top_button .lookForm_top_button_right .el-button:last-child{
    margin-left: 30px;
}
.lookForm_top_button .el-button{
    border: 1px solid #666ee8;   
    color: #666ee8;
    background:none;
}

.lookForm_top_content {
    font-size: 16px;
    text-align: left;
    margin: 30px 0;
}
.lookForm_top_content .grid-content>span{
    display: flex;
    line-height: 40px;
}
.lookForm_top_content .grid-content>span>span{
    width: 50%;
}

.lookForm_all hr {
    border: none;
    width: 77%;
    height: 1px;
    margin: 0 auto;
    background-color: #e0e2fa;
    margin-bottom: 15px;
}

/* center */
.lookForm_center {
    margin: 20px 12% 20px;
}

.lookForm_center_top {
    font-size: 16px;
    margin-bottom: 30px;
}

.lookForm_center_top_right>p {
    font-size: 14px;
    font-weight: 400;
}

.lookForm_center_top_right>p>span {
    font-size: 11px;
}

.lookForm_center_form {
   font-size: 14px;
   border: 1px solid #797979;
   border-top: none;
   text-align: left;
}
.lookForm_center_form .grid-content>.label{
    border-top: 1px solid #797979;
    background-color: #f2f2f2;
    padding-left: 10px;
    line-height: 30px;
    border-right:1px solid #797979;
    display: block;
}

.lookForm_center_form .bg-purple-light>.value{
    padding-left: 10px;
    line-height: 30px;
    border-top: 1px solid #797979;
    display: block;
}

/* bottom */
.lookForm_bottom {
    padding: 0 40px;
}

.lookForm_bottom_top {
    /* padding: 0 40px; */
    overflow: hidden;
    margin: 0 11% 20px;
}

.lookForm_bottom_top>h6 {
    float: left;
}

.lookForm_bottom_form {
    width: 80%;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    border: 1px solid #797979;
    border-left: none;
    border-bottom: none;
    line-height: 30px;
}
.lookForm_bottom_form .tab{
    border-bottom: 1px solid #797979;
}
.lookForm_bottom_form .tab .grid-content .tit{
    background-color: #f2f2f2;
    border-right: 1px solid #797979;
    border-left: 1px solid #797979;
    padding-left: 10px;
}
.lookForm_bottom_form .tab .grid-content .con{
    padding-left: 10px;
    color: #666ee8;
}