* {
    margin: 0;
    padding: 0;
}

.staffalBg {
    width: 95%;
    min-height: 805px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    margin: 0 auto;
}

.staffheadThre {
    display: flex;
    font-size: 14px;
    color: #cccccc;
    padding-top: 30px;
    padding-left: 60px;
}


.staff:visited {
    background-color: #666ee8;
}



.staffDepart {
    
    border-radius: 5px;
}


.staffRole {
  
    border-radius: 5px;
}

.staffAdd {
    border: 3px solid #666ee8;
    background: #666ee8;
    position: absolute;
    left: 85%;
}


.staffIptsech {
    display: flex;
    margin: 20px 30px;
}

.staffBelong {
    font-size: 14px;
    color: #000;
    margin-top: 10px;
    margin: 10px 10px;
}

.staffSel {
    /* width: 10vw; */
    /* border: 2px solid #ccc; */
    border-radius: 5px;
    margin-right: 20px;
}

.staffNameipt {
    width: 18vw;
    /* border: 2px solid #ccc; */
    border-radius: 5px;
    margin-right: 20px;
    /* margin-left: 4%; */
}

.staffNamesch {
    color: #fff;
    border: 3px solid #666ee8;
    background: #666ee8;
    width: 92px;
    height: 40px;
}
.staffIptsech .searchbtn{
    background-color: #666ee8;
    border-color: #666ee8;
}
.staffIptTab{
    width: 94%;
    margin: 0 auto;
    min-height: 668px;
}
.staffIptTab .el-table td, .el-table th.is-leaf{
    text-align: center;
}

.staffTable {
    margin: 0 15px;
}

.staffTable .el-table td,
.el-table th {
    text-align: center !important;
}

.staffTable .el-table th {
    background-color: #666EE866;
    color: #515A6E;
}

.staffFotedit {
    color: #666ee8;
}

.staffFotedit span {
    margin-left: -30%;
}

.staffFotdel {
    color: #ff0000;
}

.staffFotdel span {
    margin-left: -30%;
}


/* 去除table多的一条线 */

.el-table::before {
    height: 0px;
}


/*  */

.staffaddalBg {
    background-color: #fff;
    height: 65%;
    margin-left: -20px;
    width: 81%;
}

.staffSpan {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.staffWidhr {
    margin-top: 15px;
    margin-bottom: 12px;
    background-color: #ccc;
    height: 1px;
    border: none;
}

.staffF {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.staffFlex {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 100px
}

.staffFlex2 {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 100px;
    margin-top: 50px;
}

.staffFlexadre {
    display: flex;
    flex-wrap: wrap;
    width: 595px;
    height: 100px
}

.staffP {
    font-size: 16px;
}

.staffa {
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 40px;
}

.staffage {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.staffSelage {
    width: 116px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.staffade {
    width: 115vw;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 40px;
}

.stafffot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #cccccc;
    padding-top: 30px;
    padding-left: 35px;
}


/* 弹框按钮 */

.dialog_button {
    overflow: hidden;
}

.dialog_button>.el-button {
    float: right;
    margin-right: 10px;
}


/* 分页 */

.staffpag {
    overflow: hidden;
    padding: 25px 25px;
}

.staffpag>.block {
    float: right;
}

.el-input__inner {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 2px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}