.allManage {
  background: #ffffff;
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
/* 顶部导航 */
.allManage>.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 20px;
}
.allManage>.nav>ul{
  list-style: none;
  font-size: 14px;
  display: flex;
  border: 1px solid #cccccc;
}
.allManage>.nav>ul>li{
  width: 102px;
  border: 1px solid #cccccc;
  border-start-end-radius: 5px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  color: #cccccc;
}
.allManage>.nav>ul>.bgColor:first-child{
  background-color: #666EE8;
  color: #ffffff;
  border-color: #666EE8;
}
.allManage>.nav>ul>.bgColor{
  background-color: #666EE8;
  color: #ffffff !important;
  border-color: #666EE8;
}
.allManage>.nav>i{
  width: 110px;
  height: 36px;
  background-color: #666EE8;
  font-size: 14px;
  color: #ffffff;
  line-height: 36px;
  border-radius: 5px;
  cursor: pointer;
}
.allManage>.nav>i span{
  padding-left: 10px;
}
/* 内容 */
.allManage>.content{
  display: flex;
}
/* 侧边导航 */
.allManage>.content>.left{
  margin-right: 25px;
}
.allManage>.content>.left ul li{
  list-style: none;
  font-size: 14px;
  color: #333333;
  width: 180px;
  height: 44px;
  border: 1px solid #f0f1fd;
  line-height: 44px;
}
.allManage>.content>.left ul li:hover{
  color: #ffffff;
  background-color: #666EE8;
}
/* 右边内容 */
/* 搜索 */
.allManage>.content>.right>.search{
  width: 367px;
  height: 36px;
  margin-bottom: 25px;
  margin-left: 0;
}

.allManage>.content>.right>.search>.el-input-group__append{
  background-color: #666EE8;
  border-color: #666EE8;
  color: #ffffff;
}
/* 表格 */
.allManage>.content>.right{
  width: 985px;
  text-align: left;
}
.has-gutter tr th{
  background-color: #666EE866;
}
/* 分页 */
.allManage .block{
  margin-top: 105px;
 padding-bottom: 117px;
  text-align: right;
}
/* 新增 */
.el-form .el-form-item__content{
  display: inline-block;
  width: 80%;
  height: 200px;
}
.el-form .dialog-footer .el-button--primary{
  background-color: #666EE8;
}
.el-dialog__header{
  text-align: left;
}