.allManage {
    background: #ffffff;
    width: 95%;
    padding: 0 20px;
    margin: 0 auto;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}


/* 顶部导航 */

.allManage .allManage_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;
}

.allManage .allManage_nav .nav_list {
    list-style: none;
    font-size: 14px;
    display: flex;
    border: 1px solid #cccccc;
}

.allManage .allManage_nav .nav_list .list {
    width: 102px;
    border: 1px solid #cccccc;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    color: #cccccc;
}

.allManage .allManage_nav .nav_list .bgColor:first-child {
    background-color: #666EE8;
    color: #ffffff;
    border-color: #666EE8;
}

.allManage>.allManage_nav>.nav_list>.bgColor {
    background-color: #666EE8;
    color: #ffffff !important;
    border-color: #666EE8;
}

.allManage>.allManage_nav>.el-button {
    background-color: #666EE8;
    border-color: #666EE8;
    font-size: 14px;
    color: #ffffff;
    width: 94px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}




/* 内容 */

.allManage .allManage_cont .right{
    text-align: left
}


/* 侧边导航 */

.allManage>.allManage_cont .left .side_nav .side_nav_list {
    list-style: none;
    font-size: 14px;
    color: #333333;
    width: 222px;
    height: 44px;
    border: 1px solid #f0f1fd;
    line-height: 44px;
}

.allManage .allManage_cont .left .side_nav .side_nav_list:hover {
    color: #ffffff;
    background-color: #666EE8;
}


/* 右边内容 */


/* 搜索 */

.allManage .allManage_cont .right .search {
    width: 367px;
    height: 36px;
    margin-bottom: 20px;
}

.allManage .allManage_cont .right .search .el-input-group__append {
    background-color: #666EE8;
    border-color: #666EE8;
    color: #ffffff;
}


/* 表格 */

.allManage .allManage_cont .right .right_con .el-table__header-wrapper .el-table__header .has-gutter tr th {
    text-align: center;
}

.allManage .allManage_cont .right .right_con .el-table__body-wrapper .el-table__body .el-table__row td {
    text-align: center;
}


/* 分页 */

.allManage .block {
    margin-top: 105px;
    padding-bottom: 117px;
    text-align: right;
    margin-right: 36px;
}


/* 新增 */

.allManage .newly {
    text-align: left;
}