.Complaints-content{
  width: 100%;
  min-height: 540px;
}
.Complaints-content .cell{
    color: #000000;
    text-align: center;
    /* background-color: #c2c5f6; */
}
.Complaints-content .el-button--small{
    color: #666ee8;
}
.Complaints-content .el-table__header{
    background-color: #c2c5f6;
}
.Complaints-content .el-table__header-wrapper{
  background-color: #c2c5f6;
}
.Complaints-content el-table-column{
  background-color: #c2c5f6;
  
}
.Complaints-footer {
  margin: 25px 0;
  text-align: right;
  margin-right: 30px;
}