/* 新增 */
.addAll {
  width: 95%;
  padding-bottom: 114px;
  position: relative;
  background-color: #fff;
  text-align: left;
  margin: 0 auto;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  min-height: 805px;
}

.addAll .formBasics {
  font-size: 24px;
  font-weight: 700;
  color: #666EE8;
  width: 94%;
  margin: 0 auto;
  padding-top: 27px;
}

.addAll .formBasics h2 {
  text-align: left;
  font-size: 18px;
  padding-bottom: 10px;
}
.addAll .formBasics .form_con{
  margin: 0 40px;
}
.addAll .formBasics .form_con .info .grid-content .el-form-item .el-form-item__content .el-select{
  width: 100%;
}
.addAll .formBasics .form_con .info .grid-content .el-form-item .el-form-item__content .el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 100%;
}
.addAll .formBasics .form_con .info .last .el-select .el-input{
  width: 562px;
}

/* 关联患者信息 */
.addAll .table_info {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.addAll .table_info h2 {
  font-size: 18px;
  font-weight: 700;
  color: #666EE8;
  margin: 0 0 24px;
  text-align: left;
}
.addAll .table_info .info .el-table__header-wrapper .el-table__header .has-gutter tr th{
  background-color: #666EE866;
  color: #333333;
  text-align: center;
}
.addAll .table_info .info .el-table__body-wrapper .el-table__body .el-table__row td {
  text-align: center;
}
.addAll .table_info .add {
  width: 10%;
  height: 44px;
  background-color: #28D094;
  border-radius: 5px;
  color: #fff;
  line-height: 44px;
  text-align: center;
  padding: 0 20px;
  margin: 20px auto;
  font-size: 14px
} 
.addAll .table_info .add i span {
  padding-left: 10px;
}

/* 新增不良底部固定按钮 */
.addAll .root{
  width: 79.7%;
  height: 91px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(204, 204, 204, 1);
  text-align: right;
  line-height: 91px;
  cursor: pointer;
  z-index: 9999;
}
.addAll .root .AdeSure{
  background-color: #666EE8;
  border-color: #666EE8;
}
.addAll .root .AdeBack{
  background:none;
  border-color: #666EE8;
  color: #666EE8;
  margin-right: 30px;
  margin-left: 30px;
}