/* 查看不良事件详情 */

.AdeDetail {
    /* width: 95%; */
    font-size: 14px;
    margin: 0 auto;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    padding-bottom: 100px;
}

.AdeDetail .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    border-color: #666EE8;
    color: #666EE8;
    font-weight: 700;
    padding: 0 43px;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    /* position: absolute;
    left: 0;
    right: 0; */
    z-index: 9;
}

.AdeDetail .top .left {
    border: 1px solid #666EE8;
    border-radius: 5px;
    padding: 11px 20px;
    cursor: pointer;
    font-size: 14px;
}

.AdeDetail .top .right .print {
    background: none;
    border-color: #666EE8;
    color: #666EE8;
}

.AdeDetail .top .right .back{
    background: none;
    border-color: #666EE8;
    color: #666EE8;
    margin-left: 30px;
}



.AdeDetail .head-txt {
    /* padding: 0px 10px 20px; */
    margin: 60px 3% 0;
    font-size: 16px;
}

.AdeDetail .head-txt .txt {
    /* padding: 10px 0; */
    text-align: left;
    line-height: 40px;
}
.AdeDetail .head-txt .txt .row-bg .grid-content>span{
    display: flex;
}
.AdeDetail .head-txt .txt .row-bg .grid-content>span>span{
    display: flex;
    width: 50%;
}

/* 基本信息 */

.AdeDetail .cent_info {
    text-align: left;
    margin: 11px 12.5% 0 10.8%;
    padding-top: 20px;
    border-top: 2px solid #e0e2fa;
    padding-bottom: 20px;
}

.AdeDetail .cent_info>p {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.AdeDetail .cent_info .tab {
    width: 100%;
    border-left: 0.5px solid #797979;
    border-top: 0.5px solid #797979;
    border-spacing: 0;
}
.AdeDetail .cent_info .tab:last-child{
    border-bottom: 0.5px solid #797979;
}
.AdeDetail .cent_info .tab .tit {
    height: 30px;
    line-height: 30px;
    background: #f2f2f2;
    padding-left: 10px;
}

.AdeDetail .cent_info .tab .con {
    height: 30px;
    line-height: 30px;
    border-left: 0.5px solid #797979;
    border-right:0.5px solid #797979 ;
    padding-left: 10px;
} 

.AdeDetail .cent_info .tab .leng {
    height: 30px;
    line-height: 30px;
}
