/* 查看不良事件详情 */

.AdeDetail {
    width: 95%;
    font-size: 14px;
    margin: 12px auto 100px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    min-height: 805px;
    background-color: #fff;
    padding-bottom: 127px;
    overflow: hidden;
}

.AdeDetail .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    border-color: #666EE8;
    color: #666EE8;
    font-weight: 700;
    padding: 0 43px;
    background: #fff;
    border-bottom: 3px solid #f2f2f2;
    
}

.AdeDetail .top .left {
    border: 1px solid #666EE8;
    line-height: 42px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px;
}

.AdeDetail .top .left:hover {
    color: #fff;
    background-color: #666EE8;
}

.AdeDetail .top .right .print {
    border: 1px solid #666EE8;
    line-height: 42px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 700;
    font-size: 14px;
    width: 92px;
    height: 40px;
}

.AdeDetail .top .right .back{
    background: none;
    border-color: #666EE8;
    color: #666EE8;
    width: 92px;
    height: 40px;
}



.AdeDetail .head-txt {
    padding: 56px 10px 20px;
    border-bottom: 2px solid #f2f2f2;
    margin: 55px 14% 0;
    font-size: 16px;
}

.AdeDetail .head-txt .txt {
    padding: 10px 0;
    text-align: left;
    line-height: 40px;
}



/* 基本信息 */

.AdeDetail .cent_info {
    text-align: left;
    margin: 0 14%;
}

.AdeDetail .cent_info>p {
    margin: 18px 0;
    font-size: 16px;
}

.AdeDetail .cent_info .tab {
    width: 100%;
    border-left: 0.5px solid #797979;
    border-top: 0.5px solid #797979;
    
    border-spacing: 0;
}
.AdeDetail .cent_info .tab:last-child{
    border-bottom: 0.5px solid #797979;
}
.AdeDetail .cent_info .tab .tit {
    height: 30px;
    line-height: 30px;
    background: #f2f2f2;
    padding-left: 10px;
}

.AdeDetail .cent_info .tab .con {
    height: 30px;
    line-height: 30px;
    border-left: 0.5px solid #797979;
    border-right:0.5px solid #797979 ;
    padding-left: 10px;
} 

.AdeDetail .cent_info .tab .leng {
    height: 30px;
    line-height: 30px;
}