/* 查看不良事件详情 */

.AdeDetail {
    padding: 20px;
    background-color: #fff;
    width: 756px;
    font-size: 14px;
    margin: 0 auto 100px;
}

.AdeDetail .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border-color: #666EE8;
    color: #666EE8;
    font-weight: 700;
}

.AdeDetail .top .left {
    border: 1px solid #666EE8;
    line-height: 36px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 14px;
}

.AdeDetail .top .left:hover {
    color: #fff;
    background-color: #666EE8;
}

.AdeDetail .top .right i {
    border: 1px solid #666EE8;
    line-height: 36px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 700;
}

.AdeDetail .top .right i:hover {
    color: #fff;
    background-color: #666EE8;
}

.AdeDetail .top .right>i>span {
    padding: 0 5px;
    font-size: 14px;
}

.AdeDetail .top .right>i:last-child {
    font-size: 15px;
    padding: 0 32px;
}

.AdeDetail .head-txt {
    padding: 20px 10px;
    border-bottom: 2px solid #f2f2f2;
}

.AdeDetail .head-txt .txt {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}


/* 基本信息 */

.AdeDetail .cent_info {
    text-align: left;
}

.AdeDetail .cent_info>p {
    margin: 10px 0;
}

.AdeDetail .cent_info .tab {
    width: 100%;
    border: 1px solid #797979;
    border-spacing: 0;
}

.AdeDetail .cent_info .tab tr th {
    border: 1px solid #797979;
    background-color: #f2f2f2;
    padding-left: 5px;
}

.AdeDetail .cent_info .tab tr td {
    border: 1px solid #797979;
    padding-left: 5px;
}

.AdeDetail .cent_info .tab .tit {
    width: 120px;
    height: 30px;
    line-height: 30px;
}

.AdeDetail .cent_info .tab .con {
    width: 119px;
    height: 30px;
    line-height: 30px;
}

.AdeDetail .cent_info .tab .leng {
    height: 30px;
    line-height: 30px;
}