.mainBl {
    background-color: #fff;
    text-align: left;
    width: 95%;
    min-height: 773px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}


/* 头部 */

.mainBl>.header {
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f2f2f2;
    padding: 0 45px;
}

.mainBl>.header>h4 {
    color: #666EE8;
    border-left: 5px solid #666ee8;
    padding-left: 5px;
    font-size: 24px;
}

.mainBl>.header>.btn>.el-button {
    width: 92px;
    height: 40px;
    background-color: #666EE8;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    border:3px solid #666EE8;
}

.mainBl>.header>.btn>.exportAde {
    background-color: #fff;
    border: 1px solid #666EE8;
    color: #666EE8;
    margin-left: 30px;
}

.mainBl>.header>.btn>.exportAde:hover {
    background-color: #666EE8;
    color: #fff;
}

.mainBl>.header>.btn>.el-button>span {
    font-size: 14px;
}


/* 检索 */

.mainBl .searchAll {
    padding-top: 10px;
    margin-bottom: 10px;
    padding: 0 15px;
}
.mainBl .searchAll .searchAll_search:last-child{
    display: flex;
}

.mainBl .searchAll .searchAll_search {
    display: flex;
    margin: 20px 0;
}
.mainBl .searchAll .searchAll_search .el-form-item{
    margin-bottom: 0;
}
.mainBl .searchAll .searchAll_search .el-form-item:nth-child(2) {
    margin: 0 20px;
}

.mainBl .searchAll .searchAll_search .searchbtn {
    height: 39px;
    margin-left: 20px;
    background: #666ee8;
    border-color: #666ee8;
}

.mainBl .elTable{
    width: 96%;
    margin: 0 auto;
}
.mainBl .elTable .el-table__header-wrapper .el-table__header .has-gutter tr th {
    text-align: center;
}

.mainBl .elTable .el-table__body-wrapper .el-table__body .el-table__row td {
    text-align: center;
}


/* 分页 */

.mainBl>.paging {
    text-align: right;
    margin: 40px 0;
    padding: 0px 65px 53px;
}