* {
    margin: 0;
    padding: 0;
}

.departAll {
    width: 95%;
    margin: 0 auto;
    min-height: 805px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    /* padding-bottom: 115px; */
}

.departAll .departaddThre {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #cccccc;
    height: 91px;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 30px;

}

.departAll .departaddSpan {
    padding-left: 5px;
    color: #000;
    border-left: 5px solid #666ee8;
    font-size: 24px;
    font-weight: normal;
}



.departAll .departaddgr {
    background-color: #666ee8;
    border-color: #666ee8;
    color: #fff;
}



.departAll .departaddb {
    color: #666ee8;
    background: none;
    border-color:  #666ee8;
    margin-left: 30px;
}


.addmain {
    margin: 20px 60px;
    margin-bottom: 20px;
}

.addmain .el-from .el-input {
    margin: 0;
    display: block !important;
    width: 218px;
}

.addmain .el-form .el-row {
    display: flex;
    justify-content: space-around;
}

.addmain .el-date-editor {
    display: block;
    width: auto;
}

.addmain .el-select .el-input .el-input__suffix {
    height: 110px;
}

.addmain .el-select {
    display: block;
}

.el-select__tags {
    top: 67%
}


/* 边框 */

/* .dialog-input-text .el-input__inner {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 2px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
} */